*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
  }
 
  
  #wrapper{
      height:100vh;
      overflow-y:auto;
      overflow-x: hidden;
      
  }
  
  .container{
      width:100%;
      margin:0 auto;
      background-color: aliceblue;
      background-image: linear-gradient(rgb(156, 202, 218), rgb(228, 221, 221));
      z-index: -1;
      
  }
  
  .navbar{
      display: flex;
      justify-content: space-around;
      align-items:center;
  
      padding-top:0.8rem;
  }
  
  .logo{
      width:95px;
      
  }
  
  .logo-container{
    display:flex;
    justify-content: baseline;
      align-items: center;
  }
  
  .logo-text{
      margin-left:-2rem;
      font-size:30px;
      display:flex;
    justify-content: baseline;
      align-items: center;
  }
  
  .nav-items{
      display:flex;
      gap:2rem;
      padding: 0 15rem;
      margin-left:-2.8rem;
  }
  
  .nav-items div{
      font-size:20px;
      font-weight:500;
      cursor:pointer;
    
     
  }
  .nav-items div a{
      color:black;
      /* transition: all 5s ease; */
  }
  
  a{
      text-decoration: none;
  }
  
  
  .nav-items div:hover{
      transition:0.8s;
      font-weight: bold;
  }
  
  .hero-section{
      position:relative;
      display:flex;
      justify-content: center;
      align-items: center;
  
      gap: 5rem;
      margin: 4rem auto;
      padding: 0 5rem;
      padding-bottom: 8rem;
  }
  
  .faded-text{
      position:absolute;
      user-select:none;
      font-size: 7em;
      color:rgb(238, 234, 234);
      
      
      bottom: -26px;
      left: -0.8%;
      font-weight: bold;
      
      transition: 0.5s ;
      transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
      
  }
  
  .hero-section-left{
      /* width:100%; */
      display: flex;
      flex-direction: column;
      justify-content:center;
      gap: 2rem;
  }
  
  .hero-section-heading{
      font-size: 35px;
      color: #343d68;
      font-weight: 500;
  }
  
  .role{
      color: #4e45d5;
      font-weight: 600;
  }
  
  .hero-section-sub-heading{
      font-size: 45px;
      line-height: 45px;
  }
  
  .hero-section-description{
      margin-top: 1rem;
      width: 70%;
      font-weight: 500;
  }
  
  .btn-pink {
      background-color: rgb(255, 0, 34);
      width: fit-content;
      color: white;
      padding: 0.8rem 2.3rem;
     box-shadow:3px 3px 3px #727aa2;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 500;
     }
     .btn-pink a{
        color: white;
     }
    
    .btn-pink:hover {
    
      background-color: rgb(196, 64, 64);
    }
  
    .hero-section-right{
      position:relative;
    }
  
    .absolute{
      position:absolute;
    }
  
    .user-image{
      padding:2.5rem ;
      filter:grayscale(1);
      transition:all 1s;
      animation: scaleImage 5s linear infinite;
      margin-left: -5.5rem;
      
    }
  
    .user-image img{
      z-index:-9;
      width: 300px;
    }
  
    @keyframes scaleImage {
  
      0%{
          filter:grayscale(0);
          transform:scale(1);
          
      }
  
      50%{
          transform:scale(1.1);
          filter:grayscale(1);
          box-shadow: 3px 3px 10px black;
      }
  
      100%{
          transform:scale(1);
          filter:grayscale(0);
      }
    }
    .project-section{
        background-color: rgb(240, 241, 241);
        margin-top:-4rem;
      }
.page-header{
    color: rgb(243, 7, 7);
    font-size: 90px;
    text-align:center;
    padding-top: 30px;

    }
    .project-container{
        max-width: 1200px;
        margin:0 auto;
        padding:3rem 0;
        display:flex;
        flex-direction: column;
            gap: 120px;

    }
    .project-card{
        width:90%;
        height:550px;
        background-image: url(./images/projects/Project1.png);
        background-size: cover;
        position: relative;
        box-shadow:0px 0px 40px #1f1f1f;
}
.project-card::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index: 0;
   
}
.project-card::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient( 45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition:all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position:absolute;
    font-size: 10px;
    font-weight: 600;
    color: aliceblue;
    z-index: 10;
  opacity: 0;
}
.project-card:hover .project-number{
    opacity:1;
}
.project-number-right{
    right:-45px;
    top:-40px;
}
.project-number-left{
    left:-40px;
    top:-45px;
}
.project-content{
    position:absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4em;
    bottom: 20%;
    z-index:5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

.project-skill-container{
    width:50%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size:40px;
    font-weight: bold;
    line-height:3rem;
}
.project-sub-heading{
    width:50%;
    font-size: 16px;
    font-style: italic;
}
.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
}
.icon:hover{
    color: rgb(233, 44, 44);
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(./images/projects/Project1.jpeg);
}
#project2{
    margin-left: 120px;
    background-image: url(./images/projects/Project2.jpeg);
}
#project3{
    background-image: url(./images/projects/Project3.jpeg);
}
#project4{
    margin-left: 120px;
    background-image: url(./images/projects/Project4.jpeg);
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 40px;
}
.achievement-section{
    background-color: rgb(190, 194, 197);
    margin-top:-4rem;

}

.container-achievement {
    
        gap: 20px;
        max-width: 1200px;
        margin: auto;
        padding:3rem 0;
        display:flex;
        flex-direction: column;
        
            
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    
    color: rgb(3, 46, 98);
    font-size: 50px;
    text-align:center;
    padding-top: 40px;
}

.achievement {
   
    justify-content: center;
    display: inline-block;
    gap: 10px;
        max-width: 1200px;
        margin:0 auto;
        padding:3rem 0;
       
      
        
  
   
}

.card {
    background-color: #c7cdf9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(185, 186, 196, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 250px;
    width:60%;
    height:300px;
    cursor: pointer;
      transition: all 0.5s;
      font-weight: 500;
      shape-margin: 0cm;
      border-radius: 20% 30%;
      
   
}
.card:hover{
    transform: scaleX(1.5) ;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.achievement-btn{
    background-color: rgb(72, 29, 226);
    width: fit-content;
    color: white;
    margin: 0.8rem ;
    padding: 0.8rem ;
   box-shadow:3px #c1c4d3;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 200;
 
}

.description {
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}
footer{
  position:relative;
  margin-top:-1px;
  background-color: #343d68;
  padding:5rem;
}

.footer-wrapper{
  display:flex;
  gap:1rem;
  padding:1.2rem;
  justify-content: space-between;
  align-items:center;
}

.footer-faded-text{
  position:absolute;
  left:0;
  bottom:0;color:#535c87;
  user-select:none;
  font-size:5em;
}

.link-wrapper{
  display:flex;
  gap:1.2rem;
}

.link-wrapper div a{
  color:white;
  text-decoration:none;
  transition:all 0.6s;
}

.link-wrapper div a:hover{
  color:var(--bgOrange);
}

.icon-wrapper{
  display:flex;
  gap:1rem;
}
